version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: noteforge-postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: noteforge
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: noteforge-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
